*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(to right,#FF4331, #D31A50);
}
.inputnum{
    margin-top: 3%;
    height: 7vh;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 40px;
    padding-left: 1%;
    border-style: none;
}
.rediv{

    display: block;
    margin: auto;
    text-align: center;
}
.submit, .reset{
    margin-top: 1%;
    height: 5vh;
    width: 5%;
    font-size: 2.5rem;
    border-style: none;
    margin-left: 2%;
    background: #6F00ED;
    color: antiquewhite;
}

.bord{
    height: 60vh;
    width: 75%;
    margin: auto;
    border: solid;
    margin-top: 5%;
    border-color: #242B2E;
    position: relative;
}
.innerdiv{
    border: #242B2E;
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content:left ;
   
    position: absolute;
    overflow: scroll;
    height: 100%;
    width: 100%;
}
.cont{
    margin-top:3%;
    height: 400px;
    width: 350px;
    
    margin-left: 3%;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width:1500px) and (min-width:450px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background:linear-gradient(to right,#FF4331, #D31A50);
    }
    .inputnum{
        margin-top: 3%;
        height: 7vh;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 65%;
        padding-left: 1%;
        border-style: none;
    }
    .rediv{
    
        display: block;
        margin: auto;
        text-align: center;
    }
    .submit, .reset{
        margin-top: 1%;
        height: 5vh;
        width: 5%;
        font-size:45%;
        border-style: none;
        margin-left: 2%;
        background: #6F00ED;
        color: antiquewhite;
    }
    
    .bord{
        height: 60vh;
        width: 75%;
        margin: auto;
        border: solid;
        margin-top: 5%;
        border-color: #242B2E;
        position: relative;
    }
    .innerdiv{
        border: #242B2E;
        display: flex;
        flex:1;
        flex-wrap: wrap;
        justify-content:left ;
       
        position: absolute;
        overflow: scroll;
        height: 100%;
        width: 100%;
    }
    .cont{
        margin-top:3%;
        height: 100px;
        width: 100px;
        
        margin-left: 3%;
    }
}
@media screen and (max-width:450px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background:linear-gradient(to right,#FF4331, #D31A50);
    }
    .inputnum{
        margin-top: 3%;
        height: 7vh;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 65%;
        padding-left: 1%;
        border-style: none;
    }
    .rediv{
    
        display: block;
        margin: auto;
        text-align: center;
    }
    .submit, .reset{
        margin-top: 2%;
        height: 5vh;
        width: 9%;
        font-size:45%;
        border-style: none;
        margin-left: 2%;
        background: #6F00ED;
        color: antiquewhite;
    }
    
    .bord{
        height: 60vh;
        width: 60%;
        margin: auto;
        border: solid;
        margin-top: 5%;
        border-color: #242B2E;
        position: relative;
    }
    .innerdiv{
        border: #242B2E;
        display: flex;
        flex:1;
        flex-wrap: wrap;
        justify-content:left ;
       
        position: absolute;
        overflow: scroll;
        height: 100%;
        width: 100%;
    }
    .cont{
        margin-top:3%;
        height: 100px;
        width: 100px;
        
        margin-left: 3%;
    }
}
